<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API TODO</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>API TODO</h1>

    <form method="POST" action="/todo/create">
      <input
        type="text"
        name="title"
        placeholder="Titre de la t칙che"
        required
      />
      <input type="text" name="firstname" placeholder="Pr칠nom" required />
      <button type="submit">Ajouter la t칙che</button>
    </form>

    {% for todo in rows %}
    <div>
      <strong>{{ todo.title }}</strong> - {{ todo.firstname }}
    </div>
    <form
      method="POST"
      action="/index/{{ todo.id }}/delete"
      style="display: inline"
      onsubmit="return confirm('Supprimer cette t칙che ?')"
    >
      <button type="submit" data-taskid="{{ todo.id }}">Supprimer</button>
    </form>
    {% else %}
    <p>Aucune t칙che. Manger un donut  la fraise 游땖</p>
    {% endfor %}
  </body>
</html>
