<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Tâches de gestion de projet</h1>

    <form method="POST" action="/todo/create">
      <input
        type="text"
        name="title"
        placeholder="Titre de la tâche"
        required
      />
      <input type="text" name="firstname" placeholder="Prénom" required />
      <button type="submit">Ajouter la tâche</button>
    </form>

    {% for todo in todos %}
    <h2>{{ todo.title }} (attribuée à {{ todo.firstname }})</h2>
    {% else %}
    <p>Aucune tâche. Manger un donut à la fraise 😋</p>
    {% endfor %}
  </body>
</html>
