<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="taches">
        <h1>Todo list</h1>
        <div class="container">
            {% for row in rows %}
            <div class="card">
                <p>
                
                    <input type="checkbox" {% if row.done==1 %}checked{% endif %} onchange="modifierTache(this)" data-taskid={{row.id}}>
              
                {{row.title}} <em> ({{row.firstName}})</em>
                </p>
                <button onclick="supprimerTache(this)" data-taskid={{row.id}}>Supprimer</button>
            </div>
            {% else %}
            <p>Aucune t창che</p>
            {% endfor %}
        </div>
    </section>
    <section class="nouvelleTache">
        <h2>Ajouter une t창che</h2>
        <form action="/todos/create" method="post">
            <input type="text" name="title" placeholder="Entrez le nom de la t창che" required autocomplete="off">
            <input type="text" name="firstName" placeholder="A qui souhaitez-vous attribuer cette t창che" required
                autocomplete="off">
            <input type="submit" value="Ajouter">
        </form>

    </section>
    <script src="script.js"></script>
</body>

</html>